<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Post Edit</title>
  </head>
  <body>
    <h1>Post Edit Page</h1>
    <a href="/dashboard">< Back to Dashboard</a>
    <hr />
    <form action="#" enctype="multipart/form-data" method="post">
      <fieldset>
        <legend>Edit Data</legend>
        <table style="text-align: left">
          <tr>
            <th>
              <small><%= new Date(data.edited_at).toLocaleString(); %></small>
            </th>
          </tr>
          <tr>
            <th><label>Id</label></th>
            <th>
              <input type="text" name="id" value="<%= data.id %>" disabled />
            </th>
          </tr>
          <tr>
            <th><label>Author</label></th>
            <th>
              <input
                type="text"
                name="user"
                size="50"
                value="<%= data.username %>"
                disabled
              />
            </th>
          </tr>
          <tr>
            <th><label>Content</label></th>
            <th>
              <textarea rows="10" cols="50" name="content">
<%= data.content %></textarea
              >
            </th>
          </tr>
          <tr>
            <th><label>Image</label></th>
            <th>
              <% if(data.image){ %>
              <img
                src="/upload/<%= data.image %>"
                alt="<%= data.image %>"
                width="100px"
              /><br />
              <%} %>
              <input
                type="file"
                name="image"
                id="img"
                accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                onchange="upload(this)"
              /><br />
              <div id="viewer" style="width: 100px; height: 100px"></div>
              <br />
              <input
                type="hidden"
                name="prev_image"
                value="<%= data.image %>"
              />
            </th>
          </tr>
        </table>
        <input type="submit" value="Send" />
      </fieldset>
    </form>
    <footer>Copyright 리잘</footer>
  </body>
  <script>
    load = () => {
      console.log("Loaded");
    };
    upload = (input) => {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        var viewer = document.getElementById("viewer");
        reader.onload = (e) => {
          var img = document.createElement("img");
          img.setAttribute("src", e.target.result);
          img.setAttribute("style", "width:100px;height:100px;");
          viewer.innerHTML = "";
          viewer.appendChild(img);
        };
        reader.readAsDataURL(input.files[0]);
      }
    };
    document.addEventListener("DOMContentLoaded", load);
  </script>
</html>
